# Rust
/target
/target-profiling

# Devenv
.devenv/
.devenv.flake.nix
.direnv/

# Runtime artifacts
checkpoints*/
cargo-flamegraph.trace/

# Local model artifacts
teacher*.safetensors

# Local tooling artifacts
/repomix-output.xml
